<%= render 'menu' %>
<div class="p-4 sm:ml-64 dark:bg-gray-800 min-h-screen">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex justify-center items-center mb-20">
                <div class="flex flex-col text-center w-full">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 dark:text-white">Estudiantes</h1>            
                </div>
                <div>
                    <%= link_to new_student_path, class: "flex justify-center items-center gap-2 w-28 h-12 cursor-pointer rounded-md shadow-2xl text-white font-semibold bg-gradient-to-r from-[#14b8a6] via-[#059669] to-[#047857] hover:shadow-xl hover:shadow-green-500 hover:scale-105 duration-300 hover:from-[#047857] hover:to-[#14b8a6]" do %>
                        <svg class="w-5 fill-white" viewBox="0 0 15 15">
                            <svg
                            class="w-6 h-6"
                            stroke="currentColor"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            >  
                                <path d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linejoin="round" stroke-linecap="round"></path>
                            </svg>
                        </svg>
                    <% end %>
                </div>
            </div>
            <% if @students.present? %>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Nombre
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Apellidos
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Edad
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Email
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Grado
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Grupo
                                </th>
                                <th scope="col" class="px-6 py-3">
                                ‎     
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @students.each do |student| %>
                                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <%= student.name %>
                                    </th>
                                    <td class="px-6 py-4">
                                        <%= student.last_name %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%= student.birthdate %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%= student.email %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%= student.grade %>
                                    </td>
                                    <td class="px-6 py-4 uppercase">
                                        <%= student.group %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex justify-center items-center"> 
                                             <div class="flex justify-center items-center" data-tooltip-target="show-hover-<%= student.id %>" data-tooltip-trigger="hover" type="button">
                                                <%= link_to show_student_url(student), class: "text-green-500 hover:text-green-700" do %>
                                                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                                                        <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                                    </svg>
                                                <% end %>
                                            </div>
                                            <div id="show-hover-<%= student.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-800">
                                                Ver detalles
                                                <div class="tooltip-arrow" data-popper-arrow></div>
                                            </div>
                                            
                                            <div class="flex justify-center items-center" data-tooltip-target="edit-hover-<%= student.id %>" data-tooltip-trigger="hover" type="button">
                                                <%= link_to edit_student_url(student), class: "ml-1 text-yellow-500 hover:text-yellow-700" do %>
                                                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                                                    </svg>
                                                <% end %>
                                            </div>
                                            <div id="edit-hover-<%= student.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-800">
                                                Actualizar estudiante
                                                <div class="tooltip-arrow" data-popper-arrow></div>
                                            </div>

                                            <a data-tooltip-target="delete-hover-<%= student.id %>" data-tooltip-trigger="hover">
                                                <%= button_to delete_student_url(student), method: :delete, class: 'text-red-500 hover:text-red-700', onclick: "return confirm('¿Estás seguro de que deseas eliminar a este estudiante?');" do %>
                                                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                                    </svg>
                                                <% end %>
                                            </a>
                                            <div id="delete-hover-<%= student.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-800">
                                                Eliminar estudiante
                                                <div class="tooltip-arrow" data-popper-arrow></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                       
                </div>
            <% else %>
                <p class="dark:text-gray-400">No hay estudiantes para mostrar.</p>
            <% end %>
        </div>
    </section>
</div>